<div class="container">
  <div class="main-container">
    <div class="title-line">
      <div class="title">Browse Caffs</div>
    </div>
    <div *ngIf="caffs">
      <div class="caff" *ngFor="let c of caffs" [routerLink]="['/browse', c.id]">
        <div class="image-container">
          <img class="img-back" [src]="c.coverUrl" alt="cover" />
          <img [src]="c.coverUrl" alt="cover" />
        </div>
        <div class="data-container">
            <div class="card-item bottom-buttons">
                <div class="caff-title">
                  {{ c.title }}
                </div>
              <div class="button-list">
                <button *ngIf="isOwnCaff(c) || isAdmin" mat-button matTooltip="Delete caff"
                  (click)="deleteCaff(c, $event)">
                  <i class="bx bx-trash bx-tada-hover"></i>
                </button>
                <button mat-button matTooltip="Add to cart">
                  <i class="bx bx-cart-alt bx-tada-hover"></i>
                </button>
              </div>
            </div>
        </div>
      </div>
      <app-pager
        [itemCount]="total"
        (changeEvent)="setPage($event)"
      ></app-pager>
    </div>
  </div>
</div>
