<div class="container">
  <div class="card" *ngIf="loginForm">
    <div class="title-space">
      <span class="title">Log in</span>
      <p class="sign-up">
        Don't have an account? <a routerLink="/register">Sign up</a>
      </p>
    </div>
    <form
      method="post"
      class="form-table"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
    >
      <label for="userName">Username or e-mail</label>
      <input
        id="userName"
        type="email"
        placeholder="Username or e-mail"
        formControlName="userName"
        required
        minlength="4"
      />
      <label for="password">Password</label>
      <input
        id="password"
        type="password"
        placeholder="Password"
        formControlName="password"
        required
        minlength="7"
      />
      <button class="button" type="submit" [disabled]="!loginForm.valid">
        Log in
      </button>
    </form>
  </div>
</div>
