<div class="container">
  <div class="main-container">
    <div class="title-line">
      <div class="title">Inventory</div>
    </div>
    <form method="post" class="form-table" [formGroup]="searchForm" (ngSubmit)="search()" *ngIf="searchForm">
      <div class="input">
        <label for="name">Search</label>
        <input id="search" type="text" placeholder="Text" formControlName="search" required minlength="4" />
      </div>
      <button [disabled]="!searchForm.valid" mat-button matTooltip="Search">
        <i class="bx bx-search-alt bx-tada-hover"></i>
      </button>
    </form>
    <div *ngIf="caffs">
      <div class="caff" *ngFor="let c of caffs" [routerLink]="['/inventory', c.id]">
        <div class="image-container">
          <img class="img-back" [src]="c.safeUrl" alt="cover" />
          <img [src]="c.safeUrl" alt="cover" />
        </div>
        <div class="data-container">
          <div class="card-item bottom-buttons">
            <div class="caff-title">
              {{ c.title }}
            </div>
            <div class="button-list">
              <button mat-button matTooltip="Download">
                <i class="bx bx-download bx-tada-hover"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <app-pager
        [itemCount]="total"
        (changeEvent)="setPage($event)"
      ></app-pager>
    </div>
  </div>
</div>
